/*На кнопках я прописал отдельно стили под border и текст*/
.page-size{
    width: 1280px;
    height: 720px;
}

/*При центрировании возникли проблемы*/
.center{
    margin-left: 442px;
}

.border{
    background-color: #000000;
    border-width: 1px;
    border-style: inherit;
    width: 404px;
    height: 490px;
}
/*Стилизация "Логотипа"*/
.diamand{
    width: 140px;
    margin-left: 128px;
    margin-top: 13px;
}
.font{
    font-family: 'Inter', sans-serif;
    color: #ffffff;
}
.welcome{
    padding-top: 26px;
    text-align: center;
    font-size: 29px;
    letter-spacing: 0.39em;

}

.log-in-border{
    border: 4px solid #FFFFFF;
    width: 302px;
    height: 50px;
    margin-left: 50px;
    margin-top: 53px;
}

.log-in-text{
text-align: center;
font-size: 19px;
line-height: 50px;
text-decoration: none;
}

.sign-up-border{
    border: 4px solid #FFFFFF;
    width: 302px;
    height: 50px;
    margin-left: 50px;
    margin-top: 26px;
}

.sign-up-text{
text-align: center;
font-size: 19px;
line-height: 50px
}

/*Задал настройки для ссылки*/
.link{
    text-decoration: none;
    color: #ffffff;
}
